body {
    background-color: #2D2735;
    font-family: Open Sans;
    font-size: 0.8rem;
}

nav {
    background-color: #1C1821;
    position: fixed;
    width: 100%;
    font-style: italic;
}

nav img {
    height: 25%;
    width: 25%;
}

a {
    text-decoration: none;
    margin-right: 10px;
    transition: font-size 0.5s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
}

a:hover {
    font-weight: bold;
    font-size: 1rem;
}

ul {
    float: right;
    margin-top: 15px;
}

header {
    padding: 1% 0%;
}

.bg-image {
    background-image: url(../image/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    width: 100%;
    margin-top: 10%;
    padding: 10% 20%;
}

.bg-h1 {
    background-color: #1C1821;
    padding: 35px;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 15px;
}

#fotos {
    margin-top: 1.3%;
}

.img-3 {
    width: 100%;
    height: 100%;
}

.bg-flowers-text {
    background-color: #1C1821;
    margin-top: -3px;
    padding: 15px;
}

.col-4 {
    transition:.2s ease-in-out;
}

.col-4:hover {
    transform: scale(1.1);
}


/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
